.media-coverage2-grid-container{
    width: 100%;
    margin: 0;
    padding: 0;
}

.media-coverage-heading{
    display: flex;
    white-space: nowrap;
    color: var(--color-blue);
    margin-bottom: 50px;
    align-items: center;
    gap: 0.5rem;
    font-size: 2.2rem;
}

.media-coverage-heading::after,.media-coverage-heading::before{
content: "";
width: 50%;
height: 1px;
display: block;
background: #e1e1e1;
text-align: center;
}

.media-coverage2-content{
    width: 70%;
    margin: 0 auto;
    background-color: #f5f5f5;
}
.media-coverage2-content-image{
    border-right: 1px solid var(--color-light);
    padding: 50px;
}
.media-coverage2-content-info{
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.media-coverage2-content-info h1{
    color: var(--color-blue);
    font-size: 1.8rem;
}

.media-coverage2-navigation{
    width: 100%;
    display: flex;
    justify-content: center;
    gap:0.3rem;
    font-size: 3rem !important;
    color: var(--color-orange);
    margin-top: 10px;
}
