.ngo-examples{
    padding: 15px 0;
    border-bottom: 1px solid var(--color-black);
}
.ngo-examples-grid-container{
    margin: 0 auto;
    width: 80%;
}

.ngo-examples-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ngo-examples-content p{
    margin: 0;
    font-size: 1.2rem;
    color: var(--color-black);
    font-weight: var(--fweight-bold);
}
.ngo-examples-images{
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width:768px) {
    .ngo-examples-content{
        font-size: 1.8rem;
        text-align: center;
    }

    
}